@import "../../scss/abstracts/__abstracts-dir";


.blockpage {
  margin: 2em auto;
  padding: 0;
  background: white;
}

.insinfo {
  display: flex;
  flex-flow: row nowrap;
  background: white;
  width: 100%;
  padding: 1em;
  padding-top: 5em;
  justify-content: center;
  margin-bottom: 4em;
  @media(max-width: $mediamd) {
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
}

.lblock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: $vw;
  height: $vw;
  padding: 3em;
  background: dimgray;
  color: white;
  @media(max-width: $mediamd) {
    width: 90vw;
    height: auto;
    padding: 1em;
  }
}

.rblock {
  content: '';
  width: $vw;
  height: $vw;
  background: white;
  background-image: url('../../assets/img/gpts-seal.@2x.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40vw;
  @media(max-width: $mediamd) {
    width: 90vw;
    height: 90vw;
  }
}


.txtblock p {
  margin-bottom: .8em;
  font-size: .8em;
}

.txtblock a {
  color: $orange;
}

.txtblock a:hover {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px dotted $orange;
}
