<div class="container-fluid">
  <div class="bizinfo">
    <div class="lblock">
      <div class="txtblock">
        <h3>Business Information</h3>
        <p><span>email:</span><span><a href="mailto:info@greatplainstech.com">info@greatplainstech.com</a></span></p>
        <p><span>phone:</span><span><a href="tel:402-750-6433">402.750.6433</a></span></p>
        <p><span>billing:</span><span><a href="mailto:billing@greatplainstech.com">billing@greatplainstech.com</a></span></p>
        <p><span>TaxID:</span><span>Please call or request W9 via email</span></p>
        <p><span>Address:</span><span>Great Plains Technical Services, LLC</span>
        <span>19714 Woolworth Avenue</span><span>Omaha, NE 68130</span></p>
      </div>
    </div>
    <div class="rblock">
      <!-- photo -->
    </div>
  </div>
</div><!-- container-fluid -->
