<footer class='bg-dark'>
  <div class="container-fluid">
    <div class="row ft-content">
      <div class="col-md-6 d-none d-md-block quote-block">
        <div class="qt-content">
          <h3>Professional Drone Services.</h3>
          <h4>Technical Field and Software Training.</h4>
          <img src="../assets/img/GPTS_clr_logo.png" alt="full company logo"/>
        </div>

      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-sm-4 ft-nav">
            <h5>sUAS Project</h5>
            <a href="#">Contact Us</a>
            <a href="#">Deliverables</a>
            <a href="#">Insurance</a>
            <a href="#">sUAS News</a>
          </div>
          <div class="col-sm-4 ft-nav">
            <h5>Company</h5>
            <a href="#">Updates</a>
            <a href="#">Tax/Business Info</a>
            <a href="#">Privacy Policy</a>
          </div>
          <div class="col-sm-4 ft-nav">
            <h5>Site</h5>
            <a routerLink="sched">Courses</a>
            <a routerLink="about">About</a>
            <a href="#">Online Tutorials</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="legal text-center">
    <p><span id="cyear"> &copy;</span> Great Plains Technical Services, LLC --
      <span class="built">Site Design by <span><a href="www.pixelengineering.co">Pixel Engineering Co</a></span></span>
    </p>
  </div> <!--LEGAL-->
</footer>
