<div class="container-fluid sched">
  <div class="title">
    <h2>Current Schedule</h2>
  </div>
  <div class="row justify-content-center courses"> <!--SCHEDULE INFO-->
    <div class="col-md-12 course">
      <div class="nletc-logo">
        <img src="../../assets/img/NLETC_Logo(ts).png" alt="NLETC logo">
      </div>
      <h4>Intermediate Crash Investigation</h4>
      <p class="crs-date">March/April TBD, 2020</p>
      <p class="crs-location">NLETC</p>
      <p class="crs-desc">A 40-hour course with an emphasis on "at-scene" evidence recognition and collection, scene photography, diagramming and an introduction to mathematical formulas. </p>
      <span class="crs-link"><a href="http://nletc.nebraska.gov/NLETC_Course_Calendar/CourseDetail.aspx?classID=3299" target="_blank">NLETC Register</a></span>
    </div> <!--COURSE INFO-->
    <div class="col-md-12 course">
      <div class="nletc-logo">
        <img src="../../assets/img/NLETC_Logo(ts).png" alt="NLETC logo">
      </div>
      <h4>Advanced Crash Investigation</h4>
      <p class="crs-date">May TBD, 2020</p>
      <p class="crs-location">NLETC</p>
      <p class="crs-desc">A 40-hour course with an emphasis on special problems in accident investigations and introduction to vehicle dynamics, report writing, mathematical computations and practical applications.</p>
      <span class="crs-link"><a href="http://nletc.nebraska.gov/NLETC_Course_Calendar/CourseDetail.aspx?classID=3301" target="_blank">NLETC Register</a></span>
    </div> <!--COURSE INFO-->
    <div class="col-md-12 course">
      <div class="nletc-logo">
        <img src="../../assets/img/NLETC_Logo(ts).png" alt="NLETC logo">
      </div>
      <h4>Technical Crash Investigation</h4>
      <p class="crs-date">September 16-27, 2019</p>
      <p class="crs-location">NLETC</p>
      <p class="crs-desc">This course is eighty-hours (80) in length and emphasis will be on “hands-on” accident investigation. Students will do technical roadway and vehicle examination, and forensic examinations. The physics of vehicle dynamics and occupant kinematics will be studied. The students will do vehicle speed determinations to include: linear momentum and time distance calculations and applications. Outside testing projects will also be included.</p>
      <span class="crs-link"><a href="http://nletc.nebraska.gov/NLETC_Course_Calendar/CourseDetail.aspx?classID=3304" target="_blank">NLETC Register</a></span>
    </div> <!--COURSE INFO-->
    <div class="col-md-12 course">
      <div class="nletc-logo">
        <img src="../../assets/img/NLETC_Logo(ts).png" alt="NLETC logo">
      </div>
      <h4>Traffic Crash Reconstruction</h4>
      <p class="crs-date">Fall, 2020</p>
      <p class="crs-location">NLETC</p>
      <p class="crs-desc">This course will be eighty (80) hours in length and will bring together all that has been learned in the previous three courses in this curriculum. Further requirements for this course will be added here and to NLETC's calendar once the final dates of the course are determined.</p>
      </div> <!--COURSE INFO-->
    <div class="col-md-12 course">
      <div class="nletc-logo">
        <img src="../../assets/img/NLETC_Logo(ts).png" alt="NLETC logo">
      </div>
      <h4>IMS Map360</h4>
      <p class="crs-date">Fall 2019</p>
      <p class="crs-location">NLETC</p>
      <p class="crs-desc">This flexible duration course covers the IMS Map360 Core product use along with importing total station or entering hand measurement data.  Attendees will receive a copy of the new IMS Map360 product and the license to install the program on one computer at their respective agency. Students will be polled and course length will be determined for optimal teaching time for the majority of attendees -- <strong>3 to 5 days</strong></p>
      <span class="crs-link"><a href="http://nletc.nebraska.gov/NLETC_Course_Calendar/CourseDetail.aspx?classID=3303" target="_blank">NLETC Register</a></span>
    </div> <!--COURSE INFO-->
    <div class="col-md-12 course">
      <h4>Custom Training Request</h4>
      <p class="crs-date">TBD</p>
      <p class="crs-location">Host location</p>
      <p class="crs-desc">If you need training brought on site to maximize your agency training budget please give us a <a href="tel:531-444-9955">call</a> to discuss setting up a training session at a location convenient for your personnel and any surrounding agency personnel you would invite at your discretion.</p>
    </div> <!--COURSE INFO-->
  </div>
  <div class="sectdiv"></div>
</div> <!--courses END-->
