//Layout
@import "../../scss/abstracts/__abstracts-dir";

.navbar {
  padding-bottom: .8em;
}

.navbar-nav > a:hover {
  color: #ffb400;
}

.navbar-nav{
  padding-left: 1rem;
  margin-top: 1rem;
}

.navbar-brand {
  padding-left: 1em;
}

.nav-bg {
  @media(max-width: $mediamd) {
    background: rgba(105,105,105,.6)!important;
  }
}

a {
    padding-top: 0em;
}

a,
a:hover {
  transition: all .2s ease-in-out;
  cursor: pointer;
}
