<div class="content">
  <div class="title">
    <h2>Great Plains Technical Services, LLC | About</h2>
  </div>
  <div class="service"> <!--ABOUT INFO-->
    <h3>ABOUT OUR COMPANY</h3>
    <p>Great Plains Technical Services, LLC partners have a long history of professional services and development in the field of accident investigation and scene mapping and looks forward to providing the industry with the best quality deliverables from drone-based flight as well as the best technical instruction in the classroom. We have a history and desire to change the way we present our materials to future generations in the software and on-scene investigation aspects of accident investigation and future topics as our capabilities expand. Look <a href="schedule.html">here</a> for our current schedule of courses hosted at NLETC and check back for courses hosted at other locations in the region.</p>
    <button type="button" class="btn btn-primary btn-lg"><a routerLink="/sched">current courses</a></button>
  </div>
  <div class="sectdiv"></div>
</div> <!--content END-->
