//Layout
@import "../../scss/abstracts/__abstracts-dir";

.mainpanel {
  display: flex;
  font-size: 2em;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(.85*65vw);
  // margin-top: -5em;
  text-align: center;
  color: white;
  border-radius: 0px;
  @media(max-width: $mediamd) {
    font-size: 1em;
    background: #000000;
    background-image: url('../../assets/img/topBg_img@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media(max-width: $mediasm) {
    font-size: .8em;
    background: #000000;
    background-image: url('../../assets/img/topBg_img@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.mainpanel span {
  display: inline-block;
  width: 60vw;
  height: .6em;
  background: green;
}

.mainpanel h1 {
  @media(max-width: 500px) {
    font-size: 1.1em;
  }
}

.mainpanel h1:first-child {
  margin-top: 21vw;
}

.mainpanel h1:last-child {
  margin-bottom: 35vw;
}

video {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, 0);
  background: url('../../assets/img/vidLoop_poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  @media(max-width: $mediamd) {
    display: none;
  }
}
