//Layout
@import "../../scss/abstracts/__abstracts-dir";

.mainpanel {
  display: flex;
  font-size: 2em;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55.5vw;
  margin-top: -5em;
  background: #000000;
  background-image: url('../../assets/img/topBg_img@2x.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  border-radius: 0px;
  @media(max-width: $mediamd) {
    font-size: 1em;
  }
  @media(max-width: $mediasm) {
    font-size: .8em;
  }
}

.mainpanel span {
  display: inline-block;
  width: 60vw;
  height: .6em;
  background: green;
}

.mainpanel h1 {
  @media(max-width: 500px) {
    font-size: 1.1em;
  }
}

.mainpanel h1:first-child {
  margin-top: 1.4em;
}

.mainpanel h1:last-child {
  margin-bottom: 1.4em;
}

video {
    position: fixed;
    min-width: 100%;
    // min-height: 100%;
    // width: auto;
    // height: auto;
    z-index: -100;
    // transform: translateX(-50%) translateY(-50%);
 background: url('../../assets/img/vidLoop_poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
