//custom scss
//Colors
$red: #EF4B46;
$blue: #001d2d; //#001d2d 187bb1(orig)
$green: #09d147;
$orange: #ffb400;
$legalbg: #404040;
$legalcpy: #d5d5d5;
$logo: #414141;
$sectbrdr: #434343;
$menu: #2b2b2b;
$sectcpy: #959595;
$btnclr: #1f1f1f; //btn text
$btnbrdr: #576bc4;
$footbg: #187bb1;
